<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Cygnus Quiz</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">


</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/quiz/dash">Cygnus Quiz</a>
            </div>
              <ul class="nav navbar-right top-nav">  
                <li class="dropdown">
                    <a href="/app/logout" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{name}} Log Out <b class="caret"></b>
                    </a>  
            </li>
            </ul>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/quiz/dash"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/quiz/rank"><i class="fa fa-fw fa-bar-chart-o"></i> Ranking</a>
                    </li>
                    
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="alert alert-success">
                    <strong>Welcome {{name}}</strong><br> You have successfully Logged in .
                </div>
                <div class="alert alert-info">
                    <strong>Round 2 Has got 2 attempts </strong><br> Keep Quizzing 
                </div>
                <div class="alert alert-info">
                    <strong>Your Current Score is </strong> {{score}} <strong> points</strong>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{done}}</div>
                                        <div>Quizes Attempted!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/quiz/attempted">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{avail}}</div>
                                        <div>Quizes Avaliable!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/quiz/avaliable">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
              
                </div>
                    </div>
                

            </div>
              <div class="page-header">
                    <h1>Rules For the Competition</h1>
                </div>
                <div class="well">
                    <p><pre>Hello,

1)There will be 10 rounds, one round per day.

2)Points are awarded for correct answers. There will be no elimination,i.e., those who fail to answer round1 question are allowed to attempt questions from other rounds.

3)Points obtained will be cumulative, i.e., points obtained will be summed up to determine finalists.

4) Each round will comprise of a single question and only a single attempt is allowed. Once answer to a question is submitted, you cannot try that question again.

5)In each round, one question will b posted at 7pm.

6)For questions with clue:
 Clue will be posted after 12 hours. 
Those who are able to answer within first 12 hrs (without help of clue) will be awarded 15 points.
If correct answer is submitted after clue is posted and before next question is posted, will be awarded 10 pts.

6)For questions without clue: Those who answer the question correctly within 24 hrs(before next question is posted) will get 15 points.

7)For all questions : Those who answer the question correctly before 24 hours will get extra points. Everyday passing day the points awarded for answering that question reduces by 1.
example:
  a) within 24 hrs- 10 pts 
  b) before 2 days- 9 pts
  c) before 3 days- 8 pts
  d) before 4 days- 7 pts and so on...

8) Selection to final round will be based on points. The top contestants (highest scores) will be selected for the last round held at College of Engineering, Chengannur.

9)In case of any dispute or violation of rules, the decision by the game authority will be considered final.</pre></p>
                </div>


        </div>

    </div>
          {%csrf_token%}
</body>

</html>
