
<!DOCTYPE html>
<html>

<head>
{% load static %}
	<title>Login/Signup</title>


		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">


 <link rel="stylesheet" href="{% static 'css/stylelogin.css' %}" type="text/css" media="all">

		<link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

</head>


<body>

	<h1>INTERSTELLAR</h1>

	<div class="container w3layouts agileits">

		<div class="login w3layouts agileits">
		<h2>Change Password</h2>
						
			<form action="/app/change" method="get">
			      <input type = 'text' name = 'email' placeholder="Email Adress" required="" >
			      <input type = 'text' name = 'veri' placeholder="Verification Code" required="" >
    			  <input type = 'password' name = 'pass' placeholder="Password" required="">

			<div class="send-button w3layouts agileits">
					<input type="submit" value="Change Password">
			</div>
				</form>
				<div class="social-icons w3layouts agileits">
			<p>-{{changemessage}}-</p>
			</div>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					
			
			<div class="clear"></div>
		</div>

		<div class="register w3layouts agileits">
			<h2>Send Verification Code</h2>
						
			<form action="/app/sendvericode" method="get">
				<input type = 'text' name = "email" value = "{{email}}" placeholder="Email" required="">
			<div class="send-button w3layouts agileits">
					<input type="submit" value="Send Verification Code">
				</form>
				<div class="social-icons w3layouts agileits">
			<p>-{{sendmessage}}-</p>
			</div>
			</div>
			<div class="clear"></div>
		</div>

		<div class="clear"></div>


		<div class="clear"></div>
			
		</div>
					      {%csrf_token%}
</body>
</html>