{% load static %}

<head>

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/quiz.css' %}" rel="stylesheet">
<link href="{% static 'css/materialize.min.css' %}" rel="stylesheet">

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">{{quizname}}</a>

      <a class="place">&nbsp;&nbsp; Welcome {{name}}</a>

    </div>
  </nav>
        
</head>



<form action = "/quiz/quizvalidate" type="GET">
<div class="cont">

{%for e in data%}
  {%if e.question_type == "option"%}
<h2>{{ e.question }}</h2>
  <ul>
  <li>
    <input type="radio" id="{{e.Option1}}" name="{{e.qid}}" value="{{e.Option1}}" selected="selected">
    <label for="{{e.Option1}}">{{e.Option1}}</label>
    <div class="chk"></div>
  </li>
  
  <li>
    <input type="radio" id="{{e.Option2}}" name="{{e.qid}}" value="{{e.Option2}}">
    <label for="{{e.Option2}}">{{e.Option2}}</label>
    <div class="chk"><div class="inside"></div></div>
  </li>
  {%if e.Option3 != "null"%}
  <li>
    <input type="radio" id="{{e.Option3}}" name="{{e.qid}}" value="{{e.Option3}}">
    <label for="{{e.Option3}}">{{e.Option3}}</label>
    <div class="chk"><div class="inside"></div></div>
  </li>
  {%endif%} 
  {%if e.Option4 != "null"%}
  <li>
    <input type="radio" id="{{e.Option4}}" name="{{e.qid}}" value="{{e.Option4}}">
    <label for="{{e.Option4}}">{{e.Option4}}</label>
    <div class="chk"><div class="inside"></div></div>
  </li>
  {%endif%}   
</ul>

{%endif%} 


  {%if e.question_type == "check"%}

   <h2>{{ e.question }}</h2>
  <ul>
  <li>
    <input type="checkbox" id="{{e.Option1}}" name="{{e.qid}}" value="{{e.Option1}}" selected="selected">
    <label for="{{e.Option1}}">{{e.Option1}}</label>
  </li>
  <li>
    <input type="checkbox" id="{{e.Option2}}" name="{{e.qid}}" value="{{e.Option2}}">
    <label for="{{e.Option2}}">{{e.Option2}}</label>
    
  </li>
  {%if e.Option3 != "null"%}
  <li>
    <input type="checkbox" id="{{e.Option3}}" name="{{e.qid}}" value="{{e.Option3}}">
    <label for="{{e.Option3}}">{{e.Option3}}</label>
  </li>
  {%endif%} 
  {%if e.Option4 != "null"%}
  <li>
    <input type="checkbox" id="{{e.Option4}}" name="{{e.qid}}" value="{{e.Option4}}">
    <label for="{{e.Option4}}">{{e.Option4}}</label>
  </li>
  {%endif%}   
</ul>
  {%endif%}   


{%if e.question_type == "text"%}
  {% for q in e.question %}
  <h2>{{ q.question }}</h2>  
  {%endfor%}
  <input class="input-field col s12" type="text" name="{{e.qid}}" placeholder="Enter The Answer Here" value="">
{%endif%}

{%if e.question_type == "image"%}
  {% for q in e.question %}
  <h2>{{ q.question }}</h2>  
  {%endfor%}
  {%if e.desc != " " %}
  <h3>Clue:</h3>
  {%endif%}
  <h3>{{e.desc}}</h3>
  <span style="display:block; height: 10px;"></span>
    <span style="display:block; height: 10px;"></span>
  <img class="responsive-img" src="{{e.Option1}}">
    {%if e.Option2 != "null"%}
      <span style="display:block; height: 10px;"></span>
  <img class="responsive-img" src="{{e.Option2}}">
    {%endif%}
        {%if e.Option3 != "null"%}
      <span style="display:block; height: 10px;"></span>
  <img class="responsive-img" src="{{e.Option3}}">
    {%endif%}
        {%if e.Option4 != "null"%}
      <span style="display:block; height: 10px;"></span>
  <img class="responsive-img" src="{{e.Option4}}">
    {%endif%}
      <span style="display:block; height: 10px;"></span>
  <input class="input-field col s12" type="text" name="{{e.qid}}" placeholder="Enter The Answer Here" value="">
{%endif%}

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{%endfor%}
</div>
<h5>.</h5>
<span style="display:block; height: 250px;"></span>


<h5>.</h5>
&ensp;&ensp;&ensp;&ensp;
<div class="signature">
   <p><button class="btn waves-effect waves-light" type="submit" >Submit
   </button> 	
   <button type = "reset"  class="waves-effect waves-light btn">Reset
  </button>
  
  </p>
  <br>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <p>Summit 2016 <i class="much-heart"></i> Cygnus </p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  </div>
        {%csrf_token%}
</form>